<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Login rozhraní pro Permanentní makeup by Marta">
	<meta name="author" content="Jiří Krupník">

	<title>Login | PM Marta</title>

	<!-- Custom fonts for this template-->
	<link href="{$basePath}/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template-->
	<link href="{$basePath}/admin/css/pm-admin.css" rel="stylesheet">
	<link href="{$basePath}/admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							{var $mops = rand(1,9)}
							<div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('{$basePath}/admin/img/login{$mops}.jpg')">
								
							</div>
							
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">PM Marta Admin</h1>
									</div>
									<form class="user" n:name='signInForm'>
										<ul class="errors" n:if="$form->hasErrors()">
											<li n:foreach="$form->errors as $error">{$error}</li>
										</ul>
										<div class="form-group">
											<input n:name='login' type="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Zadej emailovou adresu...">
										</div>
										<div class="form-group">
											<input n:name='password' type="password" class="form-control form-control-user" placeholder="Heslo">
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input" id="customCheck">
												<label class="custom-control-label" for="customCheck">Zapamatovat přihlášení</label>
											</div>
										</div>
										<input n:name=send class="btn btn-primary btn-user btn-block">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="{$basePath}/admin/vendor/jquery/jquery.min.js"></script>
	<script src="{$basePath}/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="{$basePath}/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="{$basePath}/admin/js/sb-admin-2.js"></script>

</body>

</html>
