{block content}

<!-- Page Heading -->
<div class="row mb-4">
    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Přehled poukazů</h1>
    </div>
    <div class="col-lg-6">
        <div class="float-lg-right float-sm-left">
            <a n:href="Voucher:new" class="btn btn-success btn-circle">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 mb-4">
        <form class="form-inline">
            <div class="btn-group btn-group-toggle mr-4" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" value="all" name="options" id="option1" autocomplete="off" class="auto-submit" {if $options == 'all'}checked{/if}>
                    Vše
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" value="unused" name="options" id="option2" autocomplete="off" class="auto-submit" {if $options == 'unused'}checked{/if}>
                    Nevyčerpané
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" value="used" name="options" id="option3" autocomplete="off" class="auto-submit" {if $options == 'used'}checked{/if}>
                    Vyčerpané
                </label>
            </div>

            <label class="btn btn-secondary">Typ</label>
            <select name="type[]" class="form-control chosen-select auto-submit" multiple>
                {foreach $voucherTypes as $type}
                    <option value="{$type->id}" {if in_array($type->id, $types)}selected{/if}>{$type->name}</option>
                {/foreach}
            </select>
        </form>
    </div>

    <div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                {var $heads = ['#Číslo', 'Typ','Jméno', 'Hodnota', 'Procedura', 'Datum zakoupení', 'Datum vyřízení', 'Datum čerpání', 'Akce']}
                <th n:foreach="$heads as $head">{$head}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $vouchers as $voucher}
                <tr>
                    <td>
                        {$voucher->number}
                    </td>
                    <td>
                        {foreach $voucherTypes as $type}
                            {if $type->id == $voucher->type} {$type->name} {/if}
                        {/foreach}
                    </td>
                    <td>
                        {$voucher->name}
                    </td>
                    <td>
                        {$voucher->value|number:0,',', ' '} {$voucher->currency}
                    </td>
                    <td>
                        {$voucher->product}
                    </td>
                    <td>
                        {$voucher->date_order|date:'d.m.Y'}
                    </td>
                    <td>
                        {$voucher->date_confirm|date:'d.m.Y'}
                    </td>
                    <td>
                        {$voucher->date_use|date:'d.m.Y'}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-secondary" n:href="Voucher:edit, id => $voucher->id">
                                Detail
                            </a>
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item confirm" href="delete, id => $type->id" >
                                    Smazat
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    </div>
</div>
{/block}


{block scripts}
{include parent}
    <script>
        $(".auto-submit").change(function() {
            //console.log($(this).parents('form'));
            $(this).parents('form').submit();
        });
    </script>

{/block}
