<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Permanent Make-up by Marta</title>
    <meta name="description" content="{_messages.description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700%7CNiconne" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{$basePath}/img/favicon/site.webmanifest">
    {*<link rel="mask-icon" href="{$basePath}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">*}
    <link rel="shortcut icon" href="{$basePath}/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{$basePath}/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	
	{capture $desc}
		{_messages.description}
	{/capture}
	{var $ogUrl		= isset($ogParams['url']) ? $ogParams['url'] : $basePath}
	{var $ogTitle	= isset($ogParams['title']) ? $ogParams['title'] : 'Permanent Make-up by Marta'}
	{var $ogDesc	= isset($ogParams['description']) ? $ogParams['description'] : $desc}
	{var $ogImg		= isset($ogParams['img']) ? $ogParams['img'] : '/img/about_1.jpg'}
	
	<meta property="og:url"			content="{$ogUrl}" />
	<meta property="og:title"		content="{$ogTitle}" />
	<meta property="og:description" content="{$ogDesc|trim}" />
	<meta property="og:image"		content="{$basePath}{$ogImg}" />

	<meta name="twitter:card" content="{$basePath}">
	<meta name="twitter:image" content="{$basePath}{$ogImg}">
	<meta name="twitter:title" content="{$ogTitle}">
	<meta name="twitter:description" content="{$ogDesc|trim}">
	<meta name="twitter:site" content="{$ogUrl}">
	
    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <!-- Date pixker -->
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-datepicker.min.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
    <!-- XS Icon -->
    <link rel="stylesheet" href="{$basePath}/css/xs-icon.css">
    <!-- Owl slider -->
    <link rel="stylesheet" href="{$basePath}/css/owl.carousel.min.css">
    <!-- Isotope -->
    <link rel="stylesheet" href="{$basePath}/css/isotope.css">
    <!-- magnific-popup -->
    <link rel="stylesheet" href="{$basePath}/css/magnific-popup.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="{$basePath}/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="{$basePath}/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{$basePath}/css/responsive.css" />
</head>
<body>
<!-- Prelaoder -->
<div id="preloader">
    <div class="preloader-window left-window"></div>
    <div class="preloader-window right-window"></div>
    <div class="preloader-content">
        <img src="{$basePath}/img/icon/logo_head.png" alt="">
        <h2>Permanent Make-up by Marta</h2>
    </div>
    <div class="spinner-block">
        <div class="spinner-eff spinner-eff-3">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
        </div>
    </div>
</div>
<!-- Prelaoder end -->
<!-- Main menu -->
<header class="beautypress-header-section beautypress-header-version-3 beautypress-header-version-2 header-height-calc-minus">
    <div class="beautypress-header-top bg-color-white">
        <div class="container">
            <div class="beautypress-spilit-container beautypress-version-2">
				{if $locale == 'de'} 
					<div class="beautypress-language-select-list">
						<a n:href="default locale => cs">Čeština</a>
					</div>		
					<ul class="beautypress-simple-iocn-list beautypress-version-1">
						<li>
							<i class="xsicon icon-call"></i>+43 664 12 55 694
						</li>
					</ul>
				{/if}
				{if $locale == 'cs'}
					<div class="beautypress-language-select-list">
						<a n:href="default locale => de">Deutsch</a>
					</div>		
					<ul class="beautypress-simple-iocn-list beautypress-version-1">
						<li>
							<i class="xsicon icon-call"></i>+420 774 004 600
						</li>
					</ul>
				{/if}
            </div>
        </div>
    </div><!-- .beautypress-header-top END -->
    <div class="beautypress-new-header color-grren xs-extra-css">
        <div class="container">
            <nav class="xs_nav_2 xs_nav-landscape">
                <div class="nav-header">
                    <a class="nav-logo" n:href="default">
                        <img src="{$basePath}/img/permanent_makeup.svg" class="permanent-makeup" alt="Permanent Makeup">
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                <div class="nav-menus-wrapper">
                    <ul class="nav-menu nav-menu-centered">
                        <li><a n:href="default#about-us">{_messages.about}</a>
                        </li>
                        <li><a n:href="default#permanent-makeup">{_messages.pm}</a>
                            <ul class="nav-dropdown">
                                <li><a n:href="aboutOboci">{_messages.eyebrow}</a></li>
                                <li><a n:href="about-linky">{_messages.eyelines}</a></li>
                                <li><a n:href="about-rty">{_messages.lips}</a></li>
                            </ul>
                        </li>
                        <li><a n:href="default#fotogalerie">{_messages.galery}</a></li>
						<li><a n:href="voucher">{_messages.voucher}</a></li>
                        <li><a n:href="default#cenik">{_messages.price}</a></li>
                        <li><a n:href="contact">{_messages.contact}</a></li>
                    </ul>
                </div>
                <div class="nav-overlay-panel"></div>
                <a n:href="default">
                   <img src="{$basePath}/img/icon/m_b.png" class="bodysoul-logo" alt="Bodysoul">
                </a>
            </nav>
        </div>
    </div>
</header><!-- .beautypress-header-section END -->
<!-- Main menu closed -->

{include content}
        

<footer class="beautypress-footer-section beautypress-version-3">
    <div class="container">
        <div class="beautypress-footer-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="beautypress-single-footer beautypress-single-footer-group text-md-left">
                        <p>{_messages.openTime}</p>
                        <p>{_messages.openTime2}</p>
                    </div><!-- .beautypress-single-footer END -->
                </div>
                <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="beautypress-footer-logo">
                        <a n:href="default">
                            {*<img src="{$basePath}/img/logo_bs2.svg" alt=""> *}
							<img src="{$basePath}/img/icon/b_m.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="beautypress-single-footer beautypress-single-footer-group text-md-right">
                        <p>{_messages.address}</p>
                        <p>{_messages.address2}</p>
                        <p>{_messages.address3}</p>
                    </div><!-- .beautypress-single-footer END -->
                </div>
            </div>
        </div>
    </div>
    <div class="beautypress-copyright-content">
        <div class="container">
            <div class="beautypress-copyright-text">
                <p><a href="http://pmmarta.eu" class="color-purple">PMMarta.eu</a> &copy; 2020 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer><!-- .beautypress-footer-section END -->
<!-- Footer section end -->

<script src="{$basePath}/js/jquery-3.4.1.min.js"></script>
<script src="{$basePath}/js/plugins.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/bootstrap-datepicker.min.js"></script>
<script src="{$basePath}/js/isotope.pkgd.min.js"></script>
<script src="{$basePath}/js/jquery.ajaxchimp.min.js"></script>
<script src="{$basePath}/js/owl.carousel.min.js"></script>
<script src="{$basePath}/js/jquery.magnific-popup.min.js"></script>
<script src="{$basePath}/js/appear.js"></script>
<script src="{$basePath}/js/spectragram.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBgwwwKlgGHj1i1Nd2TW3hxB2oIe5l0V2c"></script>
<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
<script src="{$basePath}/js/main.js"></script>
</body>
</html>
