{block content}
<!-- Inner welcome -->
<section class="beautypress-inner-welocme-section beautypress-bg parallax-bg" data-parallax="scroll" data-image-src="{$basePath}/img/rty2.jpg">
	<div class="beautypress-black-overlay"></div>
	<div class="container">
		<div class="beautypress-inner-welcome-content">
			<img src="{$basePath}/img/icon/logo.png" class="silueta-white" alt="">
			<h1 class="color-white">{_messages.lips}</h1>
		</div>
	</div>
</section><!-- .beautypress-inner-welocme-section END -->
<!-- Inner welcome end -->

<!-- Simple text with image version 2-->
<section class="beautypress-simple-text-with-img-section beautypress-simple-text-with-img-section-v2 beautypress-no-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
				<div class="beautypress-simple-img-wraper">
					<img src="{$basePath}/img/rty1.jpg" alt="">
				</div><!-- .beautypress-simple-img-wraper END -->
			</div>
			<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
				<div class="beautypress-simple-text beautypress-simple-text-new">
					<div class="beautypress-separetor-sub-heading beautypress-no-separetor">
						<h2>{_messages.lipsH}</h2>
					</div><!-- . END -->
					<p>{_messages.lipsD}</p>
				</div><!-- . END -->
			</div>					
		</div>
	</div>
</section><!-- .beautypress-simple-text-with-img-section END -->
<!-- Simple text with image end -->

<!-- Simple text with image version 2-->
<section class="beautypress-simple-text-with-img-section beautypress-simple-text-with-img-section-v2 beautypress-no-bg">
	<div class="container">
		<div class="row align-end">
			<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
				<div class="beautypress-simple-text">
					<div class="beautypress-separetor-sub-heading beautypress-no-separetor">
						<h2>{_messages.helpResult}</h2>
					</div><!-- . END -->
					<p>{_messages.manSteps}</p>
					<ul>
						<li>{_messages.manStepL1}</li>
						<li>{_messages.manStepL2}</li>
						<li>{_messages.manStepL3}</li>
						<li>{_messages.manStepL4}</li>
					</ul>
				</div><!-- . END -->
			</div>
			<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
				<div class="beautypress-simple-img-wraper">
					<img src="{$basePath}/img/rty3.jpg" alt="">
				</div><!-- .beautypress-simple-img-wraper END -->
			</div>
		</div>
	</div>
</section><!-- .beautypress-simple-text-with-img-section END -->
<!-- Simple text with image end -->

{include 'call.latte'}
{include 'product.latte'}
