{block content}


<!-- Inner welcome -->
<section class="beautypress-inner-welocme-section parallax-bg" data-parallax="scroll" data-image-src="{$basePath}/img/oboci_top.jpg">
	<div class="beautypress-black-overlay"></div>
	<div class="container">
		<div class="beautypress-inner-welcome-content">
			<img src="{$basePath}/img/icon/logo.png" class="silueta-white" alt="">
			<h1 class="color-white">{_messages.eyebrow}</h1>
		</div>
	</div>
</section><!-- .beautypress-inner-welocme-section END -->
<!-- Inner welcome end -->
<!-- .beautypress-inner-welocme-section END -->
<!-- Inner welcome end -->
		
		<!-- Simple text with image version 2-->
		<section class="beautypress-simple-text-with-img-section beautypress-simple-text-with-img-section-v2 beautypress-no-bg">
			<div class="container">
				<div class="row align-end">
					<!--<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
						<div class='twentytwenty-container beautypress-before-after'>
							<img src="img/before-after-1.jpg" alt="Before">
							<img src="img/before-after-2.jpg" alt="After">
						</div>
					</div>-->
					<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
						<div class="beautypress-simple-img-wraper">
							<img src="{$basePath}/img/oboci3.jpg" alt="">
						</div><!-- .beautypress-simple-img-wraper END -->
					</div>
					<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
						<div class="beautypress-simple-text beautypress-simple-text-new">
							<div class="beautypress-separetor-sub-heading beautypress-no-separetor">
								<h2>{_messages.eyebrowH}</h2>
							</div><!-- . END -->
							<p>{_messages.eyebrowD}</p>
							<p class="mb-0">{_messages.eyebrowD2}</p>
						</div><!-- . END -->
					</div>					
				</div>
			</div>
		</section><!-- .beautypress-simple-text-with-img-section END -->
		<!-- Simple text with image end -->

		<div class="container">
			<div class="c-video">
				<video preload="true" loop="true" muted="true" autoplay="true">
					<source src="https://player.vimeo.com/external/331189890.hd.mp4?s=511a1caad1af6a578258adf13d20ed76cec89cfa&profile_id=175" type="video/mp4" poster="">
				</video>
				<div class="c-video-inner">
					<img src="{$basePath}/img/icon/logo.png" class="silueta-white" alt="">
					<h1 class="color-white">{_messages.eyebrow}</h1>
				</div>
			</div>
		</div>

		<!-- News feeds section -->
		<div class="beautypress-newsfeed-section beautypress-no-bg section-padding mt-20">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
						<div class="beautypress-single-newsletter mb-30">
							<div class="beautypress-newsfeed-header beautypress-black-gradient-overlay">
								<img src="{$basePath}/img/stinovane_oboci.jpg" alt="">
							</div><!-- .beautypress-newsfeed-header END -->
							<div class="beautypress-newsfeed-footer">
								<span>{_messages.eyebrowH1}</span>
								<p>{_messages.eyebrowH1D}</p>
								<div class="beautypress-btn-wraper mt-20">
									<a href="{$basePath}/img/bodysoul/gallery2/1.jpg" class="beautypress-gallery-popup xs-btn bg-chocolate round-btn box-shadow-btn">Fotogalerie<span></span></a>
								</div>
							</div><!-- .beautypress-newsfeed-footer END -->
						</div><!-- .beautypress-single-newsletter END -->
					</div>
					<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
						<div class="beautypress-single-newsletter mb-30">
							<div class="beautypress-newsfeed-header beautypress-black-gradient-overlay">
								<img src="{$basePath}/img/carkovane_oboci.jpg" alt="">
							</div><!-- .beautypress-newsfeed-header END -->
							<div class="beautypress-newsfeed-footer">
								<span>{_messages.eyebrowH2}</span>
								<p>{_messages.eyebrowH2D}</p>
								<div class="beautypress-btn-wraper mt-20">
									<a href="{$basePath}/img/bodysoul/gallery2/2.jpg" class="beautypress-gallery-popup xs-btn bg-chocolate round-btn box-shadow-btn">Fotogalerie<span></span></a>
								</div>
							</div><!-- .beautypress-newsfeed-footer END -->
						</div><!-- .beautypress-single-newsletter END -->
					</div>
				</div>
			</div>
		</div><!-- .beautypress-newsfeed-section END -->
		<!-- News feeds section end -->

		<!-- Simple text with image version 2-->
		<section class="beautypress-simple-text-with-img-section beautypress-simple-text-with-img-section-v2 beautypress-no-bg beautypress-simple-text-with-img-section-bottom">
			<div class="container">
				<div class="row align-end">
					<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
						<div class="beautypress-simple-text">
							<div class="beautypress-separetor-sub-heading beautypress-no-separetor">
								<h2>{_messages.helpResult}</h2>
							</div><!-- . END -->
							<p>{_messages.manSteps}</p>
							<ul>
								<li>{_messages.manStepL1}</li>
								<li>{_messages.manStepL2}</li>
								<li>{_messages.manStepL3}</li>
								<li>{_messages.manStepL4}</li>
							</ul>
						</div><!-- . END -->
					</div>
					<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
						<div class="beautypress-simple-img-wraper">
							<img src="{$basePath}/img/oboci1.jpg" alt="">
						</div><!-- .beautypress-simple-img-wraper END -->
					</div>
				</div>
			</div>
		</section><!-- .beautypress-simple-text-with-img-section END -->
		<!-- Simple text with image end -->

		{include 'call.latte'}
		{include 'product.latte'}
		
		<div style="display: none">
			{for $i=1; $i<=6; $i++}
				<a href="{$basePath}/img/bodysoul/gallery2/new{$i}.jpg" class="beautypress-gallery-popup"></a>
			{/for}
			{for $i=3; $i<=12; $i++}
				<a href="{$basePath}/img/bodysoul/gallery2/{$i}.jpg" class="beautypress-gallery-popup"></a>
			{/for}
		</div>
