<!-- Call to action section -->
<section class="beautypress-call-to-action-section beautypress-version-5 beautypress-bg-trava" style="background-image: url({$basePath}/img/trava3.jpg);">
	<div class="container">
		<div class="beautypress-call-to-action-content content-center">
			<div class="beautypress-content-headinig">
				<h2>{_messages.meeting}</h2>
				<!--<h3>Get Appoinment</h3>-->
			</div>
			<a n:href="contact" class="xs-btn round-btn box-shadow-btn bg-chocolate">{_messages.termin}<span></span></a>
		</div><!-- .beautypress-call-to-action-content END -->
	</div>
</section><!-- .beautypress-call-to-action-section END -->
