{block content}
<section class="beautypress-inner-contact-section"></section>
{*
<!-- Video -->
<div class="container no-padding">
    <div class="c-video">
	<video preload="true" loop="true" muted="true" autoplay="true">
		<source src="https://player.vimeo.com/external/331188447.hd.mp4?s=11201568b7cd13074825c34c9f566f79446ad1a0&profile_id=169" type="video/mp4" poster="">
	</video>
	<div class="c-video-inner">
		<img src="{$basePath}/img/silueta_white.svg" class="silueta-white" alt="">
		<h1 class="color-white">{_messages.findUs}</h1>
	</div>
    </div>
</div>
<!-- Video end -->
*}
<!-- Contact us form section -->
<section class="beautypress-contact-us-section">
    <div class="container">
        <div class="beautypress-contact-wraper beautypress-version-2 no-padding">
            <div class="row">
                <div class="col-sm-12 col-lg-8 col-xl-8 no-padding">
                    <div id="beautypress_maps"></div>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4 no-padding">
                    <div class="beautypress-contact-details">
                        <div class="beautypress-separetor-sub-heading beautypress-version-2">
                            <h2>{_messages.contactInfo}</h2>
                        </div><!-- .beautypress-separetor-sub-heading END -->
                        <ul class="beautypress-icon-with-text">
                            <li><i class="fa fa-map-marker"></i>{_messages.contactPlace}</li>
                            <li><i class="xsicon icon-phone3"></i>CZ +420 774 004 600</li>
                            <li><i class="xsicon icon-phone3"></i>AT +43 664 12 55 694</li>
							<li><i class="fa fa-envelope-o"></i>info@pmmarta.eu</li>
                            <li><i class="fa fa-facebook"></i><a href="https://facebook.com/PermanentMarta" target="_blank">facebook.com/PermanentMarta</a></li>
                        </ul><!-- .beautypress-icon-with-text END -->
                    </div><!-- .beautypress-contact-details END -->
                </div>
            </div>
        </div><!-- .beautypress-contact-wraper END -->
    </div>
</section><!-- .beautypress-contact-us-section END -->
<!-- Contact us form section end -->