{block content}
<!-- welcome section -->
	<section class="beautypress-welcome-section beautypress-welcome-version-3 welcome-height-calc-minus">
		<div class="beautypress-welcome-slider-wraper">
			<div class="beautypress-welcome-slider owl-carousel">
				<div class="beautypress-welcome-slider-item beautypress-bg" style="background-image: url({$basePath}/img/uvodni1.jpg);">
					<div class="container">
						<div class="beautypress-welcome-content-group">
							<div class="beautypress-welcome-container">
								<div class="beautypress-welcome-wraper">
									<h2>{_messages.salut1}</h2>
									<h3 class="color-white">{_messages.salut2}</h3>
									<p class="color-white">{_messages.salutD}</p>
									<div class="beautypress-btn-wraper">
										<a n:href="contact" class="xs-btn bg-chocolate round-btn box-shadow-btn color-black">{_messages.termin}<span></span></a>
										<a n:href="voucher" class="xs-btn bg-chocolate round-btn box-shadow-btn color-black">{_messages.voucherWinter}<span></span></a>
									</div>
								</div>
							</div><!-- .beautypress-welcome-container END -->
						</div><!-- .beautypress-welcome-content-group END -->
					</div>
					<div class="beautypress-black-gradient-overlay"></div>
				</div><!-- .beautypress-welcome-slider-item END -->
			</div><!-- .beautypress-welcome-slider END -->
		</div>
	</section><!-- .beautypress-welcome-section END -->
	<!-- welcome section -->

	<!-- Simple text with image-->
	<section id="about-us" class="beautypress-simple-text-with-img-section">
		<div class="container">
			<div class="row align-end">
				<div class="col-md-12 col-sm-12 col-xl-6 col-lg-6">
					<div class="beautypress-simple-text">
						<div class="beautypress-separetor-sub-heading">
							<h2>{_messages.salut3|noescape}</h2>
						</div><!-- . END -->
						<p>{_messages.salut3D}</p>
						<div class="beautypress-btn-wraper">
							<a href="{$basePath}/img/bodysoul/gallery1.jpg" class="beautypress-gallery-popup xs-btn bg-chocolate round-btn box-shadow-btn">{_messages.studioPhoto}<span></span></a>
						</div>
						<div style="display: none">
							{for $i=2; $i<=9; $i++}
								<a href="{$basePath}/img/bodysoul/gallery{$i}.jpg" class="beautypress-gallery-popup"></a>
							{/for}
						</div>
<!--                            <a href="img/bodysoul/gallery1.jpg" class="beautypress-image-popup beautypress-iocn-btn full-round-btn bg-color-cyan">
							<span>Fotky</span>
						</a>-->
					</div><!-- . END -->
				</div>
				<div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
					<div class='twentytwenty-container'>
						<img src="{$basePath}/img/bodysoul/about_1.jpg" alt="" style="position: relative;">
					</div>
				</div>
			</div>
		</div>
	</section><!-- .beautypress-simple-text-with-img-section END -->
	<!-- Simple text with image end -->

<!-- Our features -->
{include 'product.latte'}
<!-- Our features -->
	<!-- Testimonial Slider -->
	<section class="beautypress-testimonial-section beautypress-bg parallax-bg" data-parrlax="scroll" data-image-src="{$basePath}/img/bodysoul/bg/8.jpg">
		<div class="container">
			<div class="beautypress-testimonial-slider owl-carousel">
				<div class="beautypress-single-testimonial">
					<h2 class="color-white">{_messages.reactionName1}</h2>
					<p class="color-white">{_messages.reactionD1}</p>
					<ul class="beautypress-rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul><!-- .beautypress-rating END -->
				</div><!-- .beautypress-single-testimonial END -->
				<div class="beautypress-single-testimonial">
					<h2 class="color-white">{_messages.reactionName2}</h2>
					<p class="color-white">{_messages.reactionD2}</p>
					<ul class="beautypress-rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa"></i></li>
					</ul><!-- .beautypress-rating END -->
				</div><!-- .beautypress-single-testimonial END -->
				<div class="beautypress-single-testimonial">
					<h2 class="color-white">{_messages.reactionName3}</h2>
					<p class="color-white">{_messages.reactionD3}</p>
					<ul class="beautypress-rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul><!-- .beautypress-rating END -->
				</div><!-- .beautypress-single-testimonial END -->
			</div><!-- .beautypress-testimonial-slider END -->
		</div>
		<div class="beautypress-black-overlay light-overlay"></div>
	</section><!-- .beautypress-testimonial-section END -->
	<!-- Testimonial Slider -->

	<!-- Photo gallery -->
	<section id="fotogalerie" class="beautypress-photo-gallery-section beautypress-version-2 beautypress-padding-bottom">
		<div class="container">
			<div class="beautypress-section-headinig beautypress-version-2">
				<h3>{_messages.galery}</h3>
				<img src="{$basePath}/img/icon/m_b.png" alt="" style="width: 60px; height: auto;">
			</div>
			<div class="beautypress-photo-gallery-wraper">
				<div class="beautypress-photo-gallery-grid">
					{for $i=1; $i<=6; $i++}
					<div class="beautypress-photo-gallery-grid-item hair">
						<div class="beautypress-single-photo-gallery">
							<img src="{$basePath}/img/bodysoul/gallery2/new{$i}.jpg" alt="">
							<div class="beautypress-photo-gallery-content">
								<a href="{$basePath}/img/bodysoul/gallery2/new{$i}.jpg" class="beautypress-image-popup beautypress-iocn-btn full-round-btn bg-color-cyan">
									<i class="fa fa-eye"></i>
								</a>
							</div><!-- .beautypress-photo-gallery-content END -->
							<div class="beautypress-gallery-overlay"></div>
						</div><!-- .beautypress-single-photo-gallery END -->
					</div><!-- .beautypress-photo-gallery-grid-item END -->
					{/for}

					<div style="display: none;">
						{for $i=3; $i<=12; $i++}
						<div class="beautypress-photo-gallery-grid-item facial">
							<div class="beautypress-single-photo-gallery">
								<img src="{$basePath}/img/bodysoul/gallery2/{$i}.jpg" alt="">
								<div class="beautypress-photo-gallery-content">
									<a href="{$basePath}/img/bodysoul/gallery2/{$i}.jpg" class="beautypress-image-popup beautypress-iocn-btn full-round-btn bg-color-cyan">
										<i class="fa fa-eye"></i>
									</a>
								</div><!-- .beautypress-photo-gallery-content END -->
								<div class="beautypress-gallery-overlay"></div>
							</div><!-- .beautypress-single-photo-gallery END -->
						</div><!-- .beautypress-photo-gallery-grid-item END -->
						{/for}
					</div>
				</div><!-- .beautypress-photo-gallery-grid END -->
				<div class="beautypress-btn-wraper fotogallery-button">
					<a href="{$basePath}/img/bodysoul/gallery2/7.jpg" class="xs-btn box-shadow-btn bg-chocolate beautypress-image-popup beautypress-iocn-btn bg-color-cyan">Fotogalerie<span></span></a>
				</div>
			</div>
		</div>
	</section><!-- .beautypress-photo-gallery-section END -->
	<!-- Photo gallery -->

	<!-- booking section -->
	<section id="term" class="beautypress-booking-section beautypress-bg beautypress-version-2 beautypress-padding-bottom parallax-bg" data-parrlax="scroll" data-image-src="{$basePath}/img/bodysoul/bg/2.jpg">
		<div class="container">
			<div class="beautypress-section-headinig beautypress-section-headinig-schuzka beautypress-version-2">
				<h3 class="color-white">{_messages.workInterest}</h3>
				<img src="{$basePath}/img/icon/b_m.png" alt="" style="width: 60px; height: auto;">
			</div>
			<div class="beautypress-single-testimonial">
				<p class="color-white">{_messages.contactTel}<br>
					CZ +420 774 004 600<br>
					AT +43 664 12 55 694<br>
					{_messages.contactFB}<br>
					<a href="https://www.facebook.com/PermanentMarta" target="_blank">facebook.com/PermanentMarta</a><br><br>
					{_messages.contactSalut}</p>
			</div><!-- .beautypress-single-testimonial END -->
		</div>
		<div class="beautypress-black-overlay light-overlay"></div>
	</section><!-- .beautypress-booking-section END -->
	<!-- booking section end -->

	<!-- Pricing table -->
	<section id="cenik" class="beautypress-pricing-table-section beautypress-padding-bottom">
		<div class="container">
			<div class="beautypress-section-headinig beautypress-version-2">
				<h3>{_messages.price}</h3>
				<img src="{$basePath}/img/icon/m_b.png" alt="" style="width: 60px; height: auto;">
			</div>
			{if $locale == 'de'} 
				<div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="beautypress-single-pricing-table beautypress-version-3">
                            <div class="beautypress-pricing-header">
                                <div class="beautypress-pricing-header-content">
                                    <div class="beautypress-pricing-title">
                                        <h2>Lidstrich oben / unten</h2>
                                    </div>
                                    <div class="beautypress-pricing-price">
                                        <h4>Preis ab für ein Lidstrich</h4>
                                        <h5 class="color-chocolate">69<span>€</span></h5>
                                    </div>
                                </div>
                            </div><!-- .beautypress-pricing-header END -->
                            <div class="beautypress-pricing-footer">
                                <ul class="beautypress-both-side-list beautypress-version-3">
                                    <li>Zart<span>69€</span></li>
                                    <li>Mittel<span>99€</span></li>
                                    <li>Stark<span>119€</span></li>
                                    <li>Extra Stark<span>135€</span></li>
                                </ul>

                                <div class="beautypress-btn-wraper">
                                    <a n:href="contact" class="xs-btn round-btn box-shadow-btn bg-chocolate">Termin ausmachen<span></span></a>
                                </div>
                            </div><!-- .beautypress-pricing-footer END -->
                        </div><!-- .beautypress-single-pricing-table END -->
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="beautypress-single-pricing-table beautypress-version-3">
                            <div class="beautypress-pricing-header">
                                <div class="beautypress-pricing-header-content">
                                    <div class="beautypress-pricing-title">
                                        <h2>Augenbrauen</h2>
                                    </div>
                                    <div class="beautypress-pricing-price">
                                        <h4>Preis ab</h4>
                                        <h5 class="color-chocolate">149<span>€</span></h5>
                                    </div>
                                </div>
                            </div><!-- .beautypress-pricing-header END -->
                            <div class="beautypress-pricing-footer">
                                <ul class="beautypress-both-side-list beautypress-version-3">
                                    <li>Härrchen<span>149€</span></li>
                                    <li>Schattierung<span>149€</span></li>
                                </ul>

                                <div class="beautypress-btn-wraper">
                                    <a n:href="contact" class="xs-btn round-btn box-shadow-btn bg-chocolate">Termin ausmachen<span></span></a>
                                </div>
                            </div><!-- .beautypress-pricing-footer END -->
                        </div><!-- .beautypress-single-pricing-table END -->
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="beautypress-single-pricing-table beautypress-version-3">
                            <div class="beautypress-pricing-header">
                                <div class="beautypress-pricing-header-content">
                                    <div class="beautypress-pricing-title">
                                        <h2>Lippen</h2>
                                    </div>
                                    <div class="beautypress-pricing-price">
                                        <h4>Preis ab</h4>
                                        <h5 class="color-chocolate">149<span>€</span></h5>
                                    </div>
                                </div>
                            </div><!-- .beautypress-pricing-header END -->
                            <div class="beautypress-pricing-footer">
                                <ul class="beautypress-both-side-list beautypress-version-3">
                                    <li>Kontur<span>149€</span></li>
                                    <li>Kontur mit Schattierung<span>169€</span></li>
									<li>Vollen Lippen<span>189€</span></li>
                                </ul>

                                <div class="beautypress-btn-wraper">
                                    <a n:href="contact" class="xs-btn round-btn box-shadow-btn bg-chocolate">Termin ausmachen<span></span></a>
                                </div>
                            </div><!-- .beautypress-pricing-footer END -->
                        </div><!-- .beautypress-single-pricing-table END -->
                    </div>
				</div>
			{/if}
			{if $locale == 'cs'}
				<p style="text-align: center; font-size: 1.143em;">
					Pro aktuální cenovou nabídku se můžete informovat na telefonním čísle +420 774 004 600
				</p>
			{/if}
				
		</div>
	</section><!-- .beautypress-pricing-table-section END -->
	<!-- Pricing table -->