<!-- Call to action section -->
<section class="beautypress-call-to-action-section beautypress-version-5 beautypress-bg-trava" style="background-image: url({$basePath}/img/trava3.jpg);">
	<div class="container">
		<div class="beautypress-call-to-action-content content-center">
			<div class="beautypress-content-headinig">
				<span class="color-black">{_messages.moreInfo}</span>
				<h2>{_messages.moreCallOrMail}</h2>
				
			</div>
			<a n:href="contact" class="xs-btn round-btn box-shadow-btn bg-chocolate">
				<i class="xsicon icon-phone3"></i> {_messages.phone}
				<span></span>
			</a>
			<a href="https://facebook.com/PermanentMarta"  target="_blank" class="xs-btn round-btn box-shadow-btn bg-chocolate">
				<i class="fa fa-facebook"></i> 
				facebook.com/PermanentMarta
				<span></span>
			</a>
			
		</div><!-- .beautypress-call-to-action-content END -->
	</div>
</section><!-- .beautypress-call-to-action-section END -->
