<!-- Our features -->
<section class="beautypress-our-features-section beautypress-padding-bottom">
    <div class="container">
        <div class="beautypress-section-headinig beautypress-version-2">
            <h2>{_messages.beauty}</h2>
            <h3>{_messages.pm}</h3>
            <img src="{$basePath}/img/icon/m_b.png" alt="" style="width: 60px; height: auto;">
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-4 col-lg-4">
                <div class="beautypress-single-our-feature beautypress-black-gradient-overlay">
                    <img src="{$basePath}/img/oboci2.jpg" alt="">
                    <div class="beautypress-our-features-content">
                        <h3>{_messages.eyebrow}</h3>
                        <div class="xs-btn-wraper">
                            <a n:href="about-oboci" class="xs-btn round-btn box-shadow-btn bg-chocolate">{_messages.more}<span></span></a>
                        </div>
                    </div>
                </div><!-- .beautypress-single-our-feature END -->
            </div>
            <div class="col-md-6 col-xl-4 col-lg-4">
                <div class="beautypress-single-our-feature beautypress-black-gradient-overlay">
                    <img src="{$basePath}/img/linky3.jpg" alt="">
                    <div class="beautypress-our-features-content">
                        <h3>{_messages.eyelines}</h3>
                        <div class="xs-btn-wraper">
                            <a n:href="about-linky" class="xs-btn round-btn box-shadow-btn bg-chocolate">{_messages.more}<span></span></a>
                        </div>
                    </div>
                </div><!-- .beautypress-single-our-feature END -->
            </div>
            <div class="col-md-6 col-xl-4 col-lg-4">
                <div class="beautypress-single-our-feature beautypress-black-gradient-overlay">
                    <img src="{$basePath}/img/rty2.jpg" alt="">
                    <div class="beautypress-our-features-content">
                        <h3>{_messages.lips}</h3>
                        <div class="xs-btn-wraper">
                            <a n:href="about-rty" class="xs-btn round-btn box-shadow-btn bg-chocolate">{_messages.more}<span></span></a>
                        </div>
                    </div>
                </div><!-- .beautypress-single-our-feature END -->
            </div>
        </div>
    </div>
</section><!-- .beautypress-our-features-section END -->
<!-- Our features -->
