
{block content}

<section class="beautypress-our-features-section beautypress-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="beautypress-simple-img-wraper" style="padding-top: 180px;">
					<img src="{$basePath}/img/voucher/voucher_winter_{$locale}.jpg" alt="" >
				</div>
			</div>
		</div>
		<div class="beautypress-section-headinig beautypress-version-2" style="padding-top: 40px;">
			<h2>{_messages.voucherTipPres}</h2>
			<p>{_messages.voucherTipPer}</p>
			<h3>{_messages.voucherPermanent}</h3>
			
			<h2>{_messages.voucherPresent}</h2>
			<p>
				{_messages.voucherValid}
				<br>
				{_messages.voucherInterest}
			</p>
		</div>
		<div class="beautypress-section-headinig beautypress-version-2" style="padding-top: 0px;">
			<h3>{_messages.contactForm}</h3>
			
			{foreach $flashes as $flash}
				<div class="wpcf7-response-output {$flash->type}" aria-live="polite">
					{$flash->message}
				</div>
			{/foreach}
			
			<form n:name="voucherForm" class="">
				
				<div class="wpcf7-response-output wpcf7-validation-errors" aria-hidden="true" style="display: block;" role="alert"  n:if="$form->hasErrors()">
					<p n:foreach="$form->errors as $error" class="not-valid-tip">{$error}</p>
				</div>
				
				<div class="beautypress-contact-form">
						<div class="input-group">
							<span class="wpcf7-form-control-wrap name">
								<input type="text" n:name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" >
							</span>
							<div class="input-group-addon">
								<i class="fa fa-user"></i>
							</div>
						</div>
						<div class="input-group">
							<span class="wpcf7-form-control-wrap email">
								<input type="text" n:name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" >
							</span>
							<div class="input-group-addon">
								<i class="xsicon icon-phone3"></i>
							</div>
						</div>
					

					<div class="input-group">
						<p class="text-right">
							{_messages.voucherCall}
						</p>
					</div>


					<div class="beautypress-spilit-container">
						<div class="input-group">
							{label post /}
						</div>
						<div class="input-group">
							<span class="wpcf7-form-control-wrap subject">
								<select n:name="post" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" >
								</select>
							</span>
						</div>
					</div>

					<div class="input-group" id="email-email">
						<span class="wpcf7-form-control-wrap subject">
							<input type="text" n:name="email" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="false" aria-invalid="false">
						</span>
						<div class="input-group-addon">@</div>
					</div>

					<div class="input-group" id="address-address">
						<span class="wpcf7-form-control-wrap subject">
							<input type="text" n:name="address" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="false" aria-invalid="false">
						</span>
						<div class="input-group-addon">
							<i class="xsicon icon-home"></i>
						</div>
					</div>

					<p>
						<input type="submit" n:name="send" class="xs-btn bg-chocolate round-btn box-shadow-btn color-black"><span></span>
					</p>
				</div>
				<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
			</form>
		</div>
		
		
	</div>
</section>


{include 'more.latte'}
<!-- Simple text with image end -->
{include 'product.latte'}
