{block content}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Přehled</h1>


<!-- Daily plan -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Dnešní objednávky</h6>
	</div>
	<div class="card-body">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Termín</th>
					<th>Jméno</th>
					<th>Telefon</th>
					<th>Procedura</th>
					<th>Poznámka</th>
					<th>Stav</th>
				</tr>
			</thead>
			<tbody>
			{foreach $dailyPlan as $order}
				<tr>
					<td>
						{$order->date|date:'d.m.Y H:i'}
					</td>
					<td>
						{$order->name}
					</td>
					<td>
						{$order->phone}
					</td>
					<td>
						{foreach $order->related('order_product') as $product}
							{$product->product->name}
							{sep}, {/sep}
						{/foreach}
					</td>
					<td>
						{$order->note|truncate:70}
					</td>
					<td>
						{$states[$order->state]}
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>

	</div>
</div>
		
<!-- Quick order -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Nová objednávka</h6>
	</div>
	<div class="card-body">
		{control orderForm}
	</div>
</div>