{block content}

<!-- Page Heading -->
<div class="row mb-4">
    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Typy poukazů</h1>
    </div>
    <div class="col-lg-6">
        <div class="float-lg-right float-sm-left">
            <a n:href="VoucherType:new" class="btn btn-success btn-circle">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                {var $heads = ['Název', 'Poznámka', 'Akce']}
                <th n:foreach="$heads as $head">{$head}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $types as $type}
                <tr>
                    <td>
                        {$type->name}
                    </td>
                    <td>
                        {$type->note}
                    </td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-secondary" n:href="VoucherType:edit, id => $type->id">
                                Detail
                            </a>
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item confirm" href="delete, id => $type->id" >
                                    Smazat
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>

</div>
{/block}
