{block content}

<!-- Page Heading -->
<div class="row mb-4">
    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Webové objednávky</h1>
    </div>
    <div class="col-lg-6">
        <div class="float-right">

        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                {var $heads = ['Datum objednání', 'Jméno', 'Tel.', 'Poslat', 'Kam', 'Akce']}
                <th n:foreach="$heads as $head">{$head}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $vouchers as $voucher}
                <tr>
                    <td>
                        {$voucher->date_create|date:'d.m.Y H:i'}
                    </td>
                    <td>
                        {$voucher->name}
                    </td>
                    <td>
                        {$voucher->phone}
                    </td>
                    <td>
                        {if $voucher->sendPost}Poštou{/if}
                        {if $voucher->sendMail}E-mail{/if}
                    </td>
                    <td>
                        {if $voucher->sendPost}
                            {$voucher->address}
                        {/if}
                        {if $voucher->sendMail}
                            {$voucher->email}
                        {/if}
                    </td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-secondary" href="edit, id => $voucher->id">
                                Detail
                            </a>
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item confirm" href="delete, id => $voucher->id" >
                                    Smazat
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>

</div>
{/block}
