<ul class="pagination ">
	{if $page > 1}
		<li class="paginate_button page-item previous" >
			<a n:href="default, 1" class="page-link">První</a>
		</li>
		<li class="paginate_button page-item previous" >
			<a n:href="default, $page - 1" class="page-link">Předchozí</a>
		</li>
	{else}
		<li class="paginate_button page-item previous disabled" >
			<a href="#" class="page-link">Předchozí</a>
		</li>
	{/if}
				{var $iCounter = 0}
				{for $i = $page; $i < $lastPage; $i++}
		{php $iCounter++}
		<li class="paginate_button page-item {if $i == $page}active{/if}">
			<a n:href="default, $i"  class="page-link">{$i}</a>
		</li>
		{breakIf $iCounter > 5}

	{/for}

				{if $page < $lastPage}
		<li class="paginate_button page-item">
			<a n:href="default, $page + 1" class="page-link">Další</a>
		</li>
		<li class="paginate_button page-item">
			<a n:href="default, $lastPage" class="page-link">Poslední</a>
		</li>
	{elseif $page == $lastPage}
		<li class="paginate_button page-item next disabled">
			<a href="#" class="page-link">Další</a>
		</li>
	{/if}
</ul>