{block content}

<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled objednávek</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-right">
			<a n:href="Order:new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					{var $heads = ['Datum', 'Jméno', 'Tel', 'Procedura', 'Poznámka', 'Stav', 'Akce']}
					<th n:foreach="$heads as $head">{$head}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $orders as $order}
				<tr>
					<td>{$order->date|date:'d.m.Y H:i'}</td>
					<td>
						{$order->name}
					</td>
					<td>{$order->phone}</td>
					<td>
						{foreach $order->related('order_product') as $product}
							{$product->product->name}
							{sep}, {/sep}
						{/foreach}
					</td>
					<td>{$order->note|truncate:70}</td>
					<td>{$states[$order->state]}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $order->id">Detail</a>

							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{var $avalStates = \App\Forms\Data\OrderFormData::getOrderStatesByState($order->state);}
								<li n:foreach="$avalStates as $sId => $sName">
									<a n:href="changeOrderState! id => $order->id, state => $sId" class="ajax">{$sName}</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="float-right">
			{include '../default/paginator.latte'}
		</div>
	</div>
</div>