{block content}

<!-- Page Heading -->
<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled zaměstnanců</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-lg-right float-sm-left">
			<a n:href="Emp:new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>


<!-- Table -->
<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered" >
			<thead>
				<tr>
					{var $heads = ['Jméno', 'Příjmení', 'Email', 'Tel', 'Akce']}
					{foreach $heads as $head}
					<th>{$head}</th>
					{/foreach}
				</tr>
			</thead>
			<tbody>
				{foreach $emps as $emp}
				<tr>
					<td>{$emp->name}</td>
					<td>{$emp->surname}</td>
					<td>{$emp->email}</td>
					<td>{$emp->phone}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $emp->id">Detail</a>

							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Smazat</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>