{block content}
<div class="row">
	<div class="col-lg-7">
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">Profil</h1>
            
		{control profileForm}
	</div>
	<div class="col-lg-5">
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">Změna hesla</h1>
            
		{control passwordForm}
	</div>

</div>