{block content}

<!-- Page Heading -->
<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled cen</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-lg-right float-sm-left">
			<a n:href="new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					{var $heads = ['Datum platnosti', 'Procedura', 'Částka Kč', 'Částka EUR', 'Akce']}
					<th n:foreach="$heads as $head">{$head}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $priceLists as $price}
					{var $product = $price->ref('product', 'product')}
				<tr>
					<td>{$price->valid_from|date:'d.m.Y'}</td>
					<td>
						{$product->name}
					</td>
					<td>{$price->amount_czk|number:2, ',', ' '}</td>
					<td>{$price->amount_eur|number:2, ',', ' '}</td>

					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $price->id">Detail</a>

							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">


							</ul>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>