{block content}
<div class="row">
	<div class="col-lg-12">
		<!-- Page Heading -->
		<h1 class="h3 text-gray-800">
			Detail ceny <span class="text-muted small">{$product->name}</span>
		</h1>
		{control priceListForm}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<!-- Page Heading -->
		<h1 class="h3 text-gray-800">
			Historie ceny <span class="text-muted small">{$product->name}</span>
		</h1>

		<table class="table">
			<thead>
				<tr>
					{var $heads = ['Datum platnosti', 'Částka Kč', 'Částka EUR', 'Akce']}
					<th n:foreach="$heads as $head">{$head}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $priceLists as $price}
				<tr>
					<td>{$price->valid_from|date:'d.m.Y'}</td>
					<td>{$price->amount_czk|number:2, ',', ' '}</td>
					<td>{$price->amount_eur|number:2, ',', ' '}</td>
					<td>
						<a n:href="PriceList:edit, id => $price->id" class="btn btn-secondary btn-icon-split">
							<span class="icon  text-gray-300">
								<i class="fas fa-arrow-right"></i>
							</span>
							<span class="text">Detail</span>
						</a>
					</td>
				</tr>
				{else}
					<tr>
						<td rowspan="4">Bez historie</td>
					</tr>
				{/foreach}
			</tbody>
		</table>

	</div>
</div>
