<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Admin rozhraní pro Permanent Make-up by Marta">
  <meta name="author" content="Jiří Krupník | webzn.cz">

  <title>Admin | Permanent Make-up by Marta</title>

	<!-- Custom fonts for this template-->
	<link href="{$basePath}/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/admin/vendor/select2/select2.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/admin/vendor/select2/select2-bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/admin/vendor/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
    <link href="{$basePath}/admin/css/pm-admin.css" rel="stylesheet">
	<link href="{$basePath}/admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" n:href="Dashboard:default">
        <div class="sidebar-brand-icon">
			<img src='{$basePath}\img\icon\b_m.png' class='img-fluid'>
        </div>
        <div class="sidebar-brand-text mx-3">PM Marta</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {$presenter->isLinkCurrent('Dashboard:*') ? active}">
        <a class="nav-link" n:href="Dashboard:default">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Přehled</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Sale -->
      <li class="nav-item {$presenter->isLinkCurrent('Sale:*') ? active}">
        <a class="nav-link" n:href="Sale:default">
          <i class="fas fa-fw fa-clipboard-list"></i>
          <span>Prodej</span></a>
      </li>
	  <!-- Nav Item - Customer -->
      <li class="nav-item {$presenter->isLinkCurrent('Customer:*') ? active}">
        <a class="nav-link" n:href="Customer:default">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Zákazníci</span></a>
      </li>
	  <!-- Nav Item - Order -->
      <li class="nav-item {$presenter->isLinkCurrent('Order:*') ? active}">
        <a class="nav-link" n:href="Order:default">
          <i class="fas fa-fw fa-calendar"></i>
          <span>Objednávky</span></a>
      </li>
      <!-- Nav Item - Voucher -->
      {var $voucherMenuActive = ($presenter->isLinkCurrent('Voucher:*') || $presenter->isLinkCurrent('VoucherType:*') || $presenter->isLinkCurrent('VoucherOrder:*'))}
      <li class="nav-item {$voucherMenuActive ? active}">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseVoucher" aria-expanded="true" aria-controls="collapseVoucher">
            <i class="fas fa-fw fa-file-invoice"></i>
            <span>Poukazy</span>
          </a>
          <div id="collapseVoucher" class="collapse {$voucherMenuActive ? 'show active'}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {$presenter->isLinkCurrent('Voucher:*') ? active}"      n:href="Voucher:default">
                  Poukazy
                </a>
                <a class="collapse-item {$presenter->isLinkCurrent('VoucherOrder:*') ? active}" n:href="VoucherOrder:default">
                  Objednávky (web)
                </a>
                <a class="collapse-item {$presenter->isLinkCurrent('VoucherType:*') ? active}"  n:href="VoucherType:default">
                  Typy
                </a>
              </div>
          </div>
      </li>
     
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Charts -->
      <li class="nav-item {$presenter->isLinkCurrent('Stats:*') ? active}">
        <a class="nav-link" n:href="Stats:default">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Statistiky</span></a>
      </li>

      <!-- Nav Item - Cenik -->
      <li class="nav-item {$presenter->isLinkCurrent('PriceList:*') ? active}">
        <a class="nav-link" n:href="PriceList:default">
          <i class="fas fa-fw fa-money-bill"></i>
          <span>Ceník</span></a>
      </li>

      <!-- Nav Item - PRODUKTY -->
      <li class="nav-item {$presenter->isLinkCurrent('Product:*') ? active}">
        <a class="nav-link" n:href="Product:default">
          <i class="fas fa-fw fa-file-medical"></i>
          <span>Procedury</span></a>
      </li>
      
	  <!-- Nav Item - Emps -->
      <li class="nav-item {$presenter->isLinkCurrent('Emp:*') ? active}">
        <a class="nav-link" n:href="Emp:default">
          <i class="fas fa-fw fa-user"></i>
          <span>Zaměstnanci</span></a>
      </li>
	  <!-- Nav Item - WEB -->
      <li class="nav-item">
        <a class="nav-link" n:href=":Homepage:default" target="_blank">
          <i class="fas fa-fw fa-globe"></i>
          <span>WEB</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

			<!-- Topbar Search -->
			<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" n:name="searchForm">
				<div class="input-group">
					<select n:name='search' 
						   class="form-control bg-light border-0 small chosen-select-ajax-search"
						   placeholder="Jméno zákaznice nebo tel. číslo"  
						   data-placeholder="Jméno zákaznice nebo tel. číslo" 
						   aria-label="Search" aria-describedby="basic-addon2"
						   data-link="{link searchTerm!}"
						   > </select>
					<div class="input-group-append">
						<button n:name='send' class="btn btn-primary" type="submit">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>
			</form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
					{$user->getIdentity()->username}
				</span>
                {var $mops = rand(1,9)}
                <img class="img-profile rounded-circle" src="{$basePath}/admin/img/login{$mops}.jpg" width="60" height="60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" n:href="Emp:profile id => $user->getIdentity()->getId()">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" n:href="Sign:out">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Odhlásit se
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
			
			<div class="row" n:if="!empty($flashes)">
                {foreach $flashes as $flash}
				<div class="col-lg-7 mb-4">
					<div class="card bg-{$flash->type} text-white shadow">
						<div class="card-body">
							{$flash->message}
						</div>
					</div>
                </div>
                {/foreach}
            </div>
			
			{include content}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; pmmarta.eu 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{block scripts} 
	<!-- Bootstrap core JavaScript-->
	<script src="{$basePath}/admin/vendor/jquery/jquery.min.js"></script>
    <script src="{$basePath}/admin/vendor/moment/moment.js"></script>
	<script src="{$basePath}/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="{$basePath}/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

	<script src="{$basePath}/admin/vendor/vojtech-dobes/nette.ajax.js"></script>
	<script src="{$basePath}/admin/vendor/select2/chosen.jquery.min.js"></script>

    <script src="{$basePath}/admin/vendor/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{$basePath}/admin/vendor/bootstrap/js/bootstrap-datetimepicker.cs.js"></script>

    <script src="{$basePath}/admin/vendor/bootbox/bootbox.all.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="{$basePath}/admin/js/sb-admin-2.js"></script>
{/block}
</body>

</html>
