{block content}

<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled prodejů</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-right">
			<a n:href="Sale:new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					{var $heads = ['Datum', 'Příjmení', 'Jméno', 'Telefon', 'Poznámka', 'Vertrag', 'Akce']}
					<th n:foreach="$heads as $head">{$head}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $sales as $sale}
					{var $customer = $sale->ref('customer', 'customer')}
				<tr>
					<td>
						{$sale->date|date:'d.m.Y'}
					</td>
					<td>
						{$customer->surname}
					</td>
					<td>
						{$customer->name}
					</td>
					<td>
						{$customer->phone}
					</td>
					<td>
						{$sale->note|truncate:70}
					</td>
					<td>
						{if !empty($sale->vertrag)}
							<a n:href="File:download, id => $sale->vertrag" title="Odkaz na vertrag">
								<i class="fas fa-paperclip"></i>
								Stáhnout
							</a>
						{/if}
					</td>

					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $sale->id">Detail</a>

							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
							  <li><a href="#">Smazat</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="float-right">
			{include '../default/paginator.latte'}
		</div>
	</div>
</div>