{block content}

<!-- Page Heading -->
<div class="row mb-4">
    <h1 class="h3 text-gray-800">Detail prodeje</h1>
</div>
<!-- Form -->
<div class="row">
    <div class="col-lg-10 col-sm-12">
        {control saleForm}
    </div>
</div>

<!-- Page Heading -->
<div class="row mb-4">
    <h1 class="h3 text-gray-800">Související prodeje</h1>
</div>
<!-- Related records -->
<div class="row">
    <div class="col-lg-10 col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    {var $heads = ['Datum', 'Poznámka', 'Vertrag', 'Akce']}
                    <th n:foreach="$heads as $head">{$head}</th>
                </tr>
                </thead>
                <tbody>
                {foreach $sales as $relSale}
                    {* skip actual record *}
                    {continueIf $relSale->id == $sale->id}
                    <tr>
                        <td>
                            {$relSale->date|date:'d.m.Y'}
                        </td>
                        <td>
                            {$relSale->note|truncate:70}
                        </td>
                        <td>
                            {if !empty($relSale->vertrag)}
                                <a n:href="File:download, id => $relSale->vertrag" title="Odkaz na vertrag">
                                    <i class="fas fa-paperclip"></i>
                                    Stáhnout
                                </a>
                            {/if}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-secondary" n:href="edit, id => $relSale->id">Detail</a>

                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Smazat</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>

