{block content}
<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled procedur/produktů</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-lg-right float-sm-left">
			<a n:href="Product:new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					{var $heads = ['Název', 'Zkratka', 'Doba trvání', 'Popis', 'Oprava', 'Akce']}
					<th n:foreach="$heads as $head">{$head}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $products as $product}
				<tr>
					<td>
						{$product->name}
					</td>
					<td>
						{$product->abbrev}
					</td>
					<td>
						{$product->duration|number}
					</td>
					<td>
						{$product->description|truncate:70}
					</td>
					<td>
						{if $product->repair}
							<span title="Opravná procedura">Ano</span>
						{/if}
					</td>

					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $product->id">
								Detail
							</a>
							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item confirm" n:href="delete, id => $product->id" >
									Smazat
								</a>
							</div>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>