{block content}

<!-- Page Heading -->

<div class="row mb-4">
	<div class="col-lg-6">
		<h1 class="h3 text-gray-800">Přehled zákazníků</h1>
	</div>
	<div class="col-lg-6">
		<div class="float-lg-right float-sm-left">
			<a n:href="Customer:new" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					{foreach ['Příjmení', 'Jméno', 'Tel', 'LD', 'LH', 'K', 'KS', 'O', 'Poznámka', 'Akce'] as $head}
					<th>{$head}</th>
					{/foreach}
				</tr>
			</thead>
			<tbody>
				{foreach $customers as $customer}
					{var $productMap = explode('|', $customer->product_map)}
				<tr>
					{* 'Příjmení', 'Jméno', 'Tel', 'LD', 'LH', 'K', 'KS', 'O', 'Poznámka'*}
					<td>
						{$customer->surname}
					</td>
					<td>
						{$customer->name}
					</td>
					<td>
						{$customer->phone}
						{if !empty($customer->phone2)}, {$customer->phone2} {/if}
					</td>
					<td>
						{if in_array('LD', $productMap)}
							<button class="btn btn-success btn-circle btn-sm">
								<i class="fas fa-check"></i>
							</button>
						{else}
							<button class="btn btn-danger btn-circle btn-sm">
								<i class="fas fa-times"></i>
							</button>
						{/if}
					</td>
					<td>
						{if in_array('LH', $productMap)}
							<button class="btn btn-success btn-circle btn-sm">
								<i class="fas fa-check"></i>
							</button>
						{else}
							<button class="btn btn-danger btn-circle btn-sm">
								<i class="fas fa-times"></i>
							</button>
						{/if}
					</td>
					<td>
						{if in_array('k', $productMap)}
							<button class="btn btn-success btn-circle btn-sm">
								<i class="fas fa-check"></i>
							</button>
						{else}
							<button class="btn btn-danger btn-circle btn-sm">
								<i class="fas fa-times"></i>
							</button>
						{/if}
					</td>
					<td>
						{if in_array('KS', $productMap)}
							<button class="btn btn-success btn-circle btn-sm">
								<i class="fas fa-check"></i>
							</button>
						{else}
							<button class="btn btn-danger btn-circle btn-sm">
								<i class="fas fa-times"></i>
							</button>
						{/if}
					</td>
					<td>
						{if in_array('O', $productMap)}
							<button class="btn btn-success btn-circle btn-sm">
								<i class="fas fa-check"></i>
							</button>
						{else}
							<button class="btn btn-danger btn-circle btn-sm">
								<i class="fas fa-times"></i>
							</button>
						{/if}
					</td>
					<td>{$customer->note|truncate:70}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" n:href="edit, id => $customer->id">Detail</a>

							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
							  <li><a href="#">Smazat</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{/foreach}
			  </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="float-right">
			{include '../default/paginator.latte'}
		</div>
	</div>
</div>
