{block content}
<div class="row">
	<!-- Page Heading -->
	<div class="col-12">
		<div class="float-left">
			<h1 class="h3 text-gray-800">
				{$customer->surname} {$customer->name}
			</h1>
		</div>
		<div class="float-right">
			<ul class="list-inline mb-4">
				{var $productMap = explode('|', $customer->product_map)}
				{foreach $products as $product}
					{continueIf $product->repair == 1}

					<li class="list-inline-item badge {if in_array($product->abbrev, $productMap)}badge-success{else}badge-secondary{/if}">
						{$product->name}
					</li>
				{/foreach}
			</ul>
		</div>
	</div>
	<div class="col-12">
		<div class="float-right">
		<a href="#" class="btn btn-primary btn-icon-split">
			<span class="icon text-white-50">
				<i class="fas fa-check"></i>
			</span>
			<span class="text">Nový prodej</span>
		</a>

		<a href="#" class="btn btn-primary btn-icon-split">
			<span class="icon text-white-50">
				<i class="fas fa-check"></i>
			</span>
			<span class="text">Nová objednávka</span>
		</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12">
		<h2 class="h4 mb-4 text-gray-800">Info</h2>
		{control customerForm}
	</div>
	<div class="col-lg-6 col-md-12">
		<h2 class="h4 mb-4 text-gray-800">Fotky</h2>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2 class="h4 mb-4 text-gray-800">Prodeje</h2>

		<table class="table table-bordered">
			<thead>
			<tr>
				{foreach ['Datum', 'Procedura', 'Vertrag','Popis'] as $head}
					<th>{$head}</th>
				{/foreach}
			</tr>
			</thead>
			<tbody>
			{foreach $sales as $sale}
				<tr>
					{*'Datum', 'Procedura', 'Popis'*}
					<td>{$sale->date|date:'d.m.Y'}</td>
					<td>
						{foreach $sale->related('sale_product') as $saleProduct}
							{foreach $products as $product}
								{if $product->id == $saleProduct->product}
									{$product->name}
								{/if}
								{breakIf $product->id == $saleProduct->product}
							{/foreach}

							{sep}, {/sep}
						{/foreach}

					</td>
					<td>
						{if !empty($sale->vertrag)}
							<a n:href="File:download, id => $sale->vertrag" title="Odkaz na vertrag">
								<i class="fas fa-paperclip"></i>
								Stáhnout
							</a>
						{/if}
					</td>
					<td>{$sale->note|truncate:70}</td>
					<td>
						<a n:href="Sale:edit, id => $sale->id" class="btn btn-secondary btn-icon-split">
							<span class="icon  text-gray-300">
								<i class="fas fa-arrow-right"></i>
							</span>
							<span class="text">Detail</span>
						</a>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	</div>


				  
				  
</div>