{block content}

<!-- Page Heading -->
<div class="row mb-4">
    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Přehled</h1>
    </div>
    <div class="col-lg-6">
        <div class="float-right">

        </div>
    </div>
</div>

<div class="row">

    <!-- Trzby (mesicni) -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tržby (měsíční)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {$earnStats->getEarnMonthActual()|number:0, ',', ' '} Kč
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Trzby (rocni prumer) -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Měsíční průměr (roční)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {$earnStats->getEarnYearAverage()|number:0, ',', ' '} Kč
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Objednavky (cekajici) -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Objednávky (čekající)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {$orderPendings|number}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Roční přehled tržeb</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                        <div class="dropdown-header">Rok:</div>
                        <a class="dropdown-item" href="#">2020</a>
                        <a class="dropdown-item" href="#">2019</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Vše</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <script>
                        var myAreaChartData = {$earnStats->getYearEarnMonthlyLineChartData()|escapeJs|noescape}
                    </script>
                    <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;"
                            class="chartjs-render-monitor" width="1037" height="320"
                    ></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Roční přehled procedur</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <script>
                        var myPieCharttData = {$earnStats->getYearProductPieChartData()|escapeJs|noescape}
                    </script>
                    <canvas id="myPieChart" style="display: block; width: 486px; height: 245px;"
                            class="chartjs-render-monitor" width="486" height="245"
                    ></canvas>
                </div>
                <div class="mt-4 text-center small">
                    {var $labels = ['Linky horní' => '4e73df', 'Linky dolní' => '1cc88a', 'Kontura' => '36b9cc', 'Kontura stín' => '72de4e', 'Obočí' => 'de714e']}
                    {foreach $labels as $label => $color}
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color: #{$color}"></i> {$label}
                        </span>
                    {/foreach}

                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block scripts}
{include parent}

    <!-- Page level plugins -->
    <script src="{$basePath}/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="{$basePath}/admin/js/charts/chart-area-earn.js"></script>
    <script src="{$basePath}/admin/js/charts/chart-pie-product.js"></script>

{/block}